body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    margin: 50px;
  }
  
h1 {
  font-family: sans-serif;
  color: rgb(83, 75, 75);
}

p {
  font-family: "RobotoMono", monospace;
  margin: 12px;
  padding: 12px;
}


a {
  font-family: "RobotoMono", monospace;
  color: rgb(195, 30, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
